:root {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;

    --body-bg: #252525;
    --text-color: #fefefe;

    --prime: #fa3838;
    --border-c: #888888;
    --box1: #14141465;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--prime);
    border-radius: 0.5rem;
}